@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  margin-left: 8px;

  border-radius: 50%;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.country-list,
.favorite-list {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-right: 8px;
}
